.login{
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
    border-radius: 5px;
    margin: auto;
}
.principal_login{
 width: 60%; 
    height:700px; 
    margin-left: auto;
    margin-right: auto; 
    border-style:groove;
    border: 2px solid rgb(0, 0, 0);
    margin-top: 20px;
    box-shadow: 5px 10px 20px ;
}
.usuario{
    margin-bottom: 15px;
    padding: 10px;
    width: 20%;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.senha{
    margin-bottom: 15px;
    padding: 10px;
    width: 20%;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.login-container{
    text-align: center;
    margin-top: 100px;
}
.entrar{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.entrar:hover{
    background-color: #45a049;
}
.titulo-login{
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
