* {
    margin: 0;
   
}

    
.topo{
    display: flex;
    flex-direction: column; 
    width: 100%;
}


.barra-vermelha{
    height: 30px;
    background-color: red;
}


.barra-preta{
    height: 10px;
    background-color: black;
}


.cabeçalho{
    display: flex;
    gap: 40px;
    margin: 20px;
 
  
}


.imagemlogo{
    width: 200px;
}


.principal{ 
    width: 60%; 
    height:3000px; 
    margin-left: 15%; 
    border-style:groove;
    border: 2px solid rgb(0, 0, 0);
 
 
      }
.imagemcomeco{
    width: 95% ;
    height: 10% ;
    margin-top: 200px;
    box-shadow: 5px 10px 20px ;
margin: 10px;
padding: 5px;
}
.imagemcomeco:hover{
    transition: 0.3s;
    transform: scale(1.1);
    
}