/* login  a partir da linha 234 */


* {
    margin: 0;
   
}

        /* ======================================================== 
                                header
        ========================================================*/

.topo{
    display: flex;
    flex-direction: column; 
    width: 100%;
}


.barra-vermelha{
    height: 30px;
    background-color: red;
}


.barra-preta{
    height: 10px;
    background-color: black;
}

        /* =====================================================
                                div principal
           =====================================================*/

.principal{ 
    width: 60%; 
    height:100%; 
    margin-left: auto;
    margin-right: auto; 
    border-style:groove;
    border: 2px solid rgb(0, 0, 0);
    margin-top: 20px;
    box-shadow: 5px 10px 20px ;
}
        /* =====================================================
                                cabeçalho
           =====================================================*/

.cabeçalho{
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin: 20px;
}
.info-cabeçalho{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.imagemlogo{
    width: 20%;
}
.imagemcomeco{
    width: 95% ;
    height: 300px ;
    margin-top: 200px;
    box-shadow: 5px 10px 20px ;
    margin: 10px;
    padding: 5px;
}
.imagemcomeco:hover{
    transition: 0.3s;
    transform: scale(1.1);
    
}

.info-loja {
    margin-top: 6%;
    text-align: center;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: rgb(133, 133, 133);
}
a:hover{
    color: black;
    font-weight: bold;
    transition: 0.3s;
}
.entrada{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    width: 280px;
    box-shadow: 1px 1px 3px lightgray;
    background-image: url('./imagens/lupa_img.png');
    background-size: 25px; 
    background-repeat: no-repeat;
    background-position: 90% center; 
    padding-left: 40px; 
    height: 30px;
    align-self: flex-start;
 

    
}


.entrada:hover{
    box-shadow: 2px 2px 5px gray;
    transition: 0.3s;
}

        /* =====================================================
                                espetos
           =====================================================*/

.espetinhos-lista{
    display: flex;
    gap: 20px;
    margin: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.espetinho{
    flex-basis: 300px;
    max-width: 300px;
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    
    }

.espetinho-imagem{
    width: 50%;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    margin-top: 10px;

}
.espetinho-imagem:hover{
    transition: 0.3s;
    transform: scale(1.1);
    
}
.espetinho-nome{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80, 80, 80);
    margin-top: 10px;
    font-weight: bold;
}
.preco{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(120, 120, 120);
    margin-top: 5px;
}
.descricao{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(100, 100, 100);
    margin-top: 5px;
    font-size: 14px;
    text-align: center;

}

        /* =====================================================
                                rodapé
           =====================================================*/



.rodape{
    background:black;
    height: 1%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 0px ;
    padding: 40px 60px;
    gap: 40px;
    background-image: url(https://img.freepik.com/fotos-premium/grelha-de-churrasco-churrasqueira-de-aco-vazia-com-faiscas-de-fogo-flamejante-e-fumaca-em-fundo-preto-cozinhando_157927-18733.jpg) ;
}
    .loja, .contatos, .creditos p {
    font-size: 15px; 
    line-height: 1.6;
    color: #ddd;
}
.final h3 {
    color: #ff4d4d;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
            /* ==================     sectio1    ================== */
.sobre{
    max-width: 450px;
    text-align: left;
}

.loja{
    
    color: white;
    font-size: 15px;
    font-family:sans-serif ;    
}

            /* ==================     sectio2    ================== */

.creditos{
    max-width: 350px;
}
.titulo-creditos{
    font-size: 20px;
    font-weight: bold;
}
            /* ==================     sectio3    ================== */

.contatos{
    max-width: 230px;
}

        /* =====================================================
                                
                                LOGIN.HTML 

           =====================================================*/



        /* =====================================================
                                div (login) principal
           =====================================================*/


.principal_login{
    width: 60%; 
    height: 42%; 
    margin-left: auto;
    margin-right: auto; 
    border-style:groove;
    border: 2px solid rgb(0, 0, 0);
    margin-top: 20px;
    box-shadow: 5px 10px 20px ;
   
}
.principal_login h2{
    font-size: 50px;   
    font-family:Verdana, Geneva, Tahoma, sans-serif ; 
    color:black;
}

        /* =====================================================
                         container de login 
           =====================================================*/

.login-container{
    text-align: center;
    
    
}
        /* =====================================================
                         formulario de login 
           =====================================================*/

.login{
    font-family: Arial, sans-serif;
    max-width: 420px;
    width: 100%;
    padding: 35px;
    border-radius: 12px;
    border: 1px solid #ddd;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 18px;
    background: white;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
    transition: 0.3s;
}
.titulo-login{
    margin-bottom: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.login:hover{
    transform: translateY(-3px);
}

/* ==================     campo de usario    ================== */


.usuario{

    margin-bottom: 15px;
    padding: 10px;
    width: 25%;
    border: 1px solid #ccc;
    border-radius: 4px;
    
    box-shadow: 1px 1px 1px;
    height: 10%;
}
    .inputs1, .inputs2{
        width: 100%;
        font-size: 16px;
        border: 2px solid #ccc;
        border-radius: 30px;
        padding: 14px 20px;
        outline: none;
        transition: 0.3s;
}
.inputs1:focus,
.inputs2:focus{
    border-color: rgb(190, 42, 42);
    box-shadow: 0 0 8px rgba(190, 42, 42, 0.4);
}


/* ==================     campo de senha    ================== */


.senha{
    margin-bottom: 15px;
    padding: 10px;
    width: 25%;

    border-style: hidden;
    border: 1px solid #4b1a1a;
    border-radius: 4px;
    box-shadow: 1px 1px 1px;

    
  
}


/* ==================     campo de entrar    ================== */

.entrar{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.entrar:hover{
    background-color: #45a049;
    border-radius: 2%;
}








